@tailwind base;
@tailwind components;
@tailwind utilities;

$red-color: #ef4b46;
$black-color: #191b1f;
$green-color: #2bd98a;

.dv-txt-red {
  color: $red-color;
}

.dv-txt-green {
  color: $green-color;
}

.dv-bg-black {
  background-color: $black-color;
}

